* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

header {
    position: fixed;
    top: auto;
    width: 100%;
}

#sec1 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;    
    padding: 0 40px;

        h1 {
            font-size: 50px;

        }

        h2 {
            font-size: 25px;
            margin-bottom: 25px;

        }

        .consButton {
            color: white;
            margin-top: 50px;
            padding: 10px;            
            background-color: #1BA9CF;
            text-decoration: none;
            width: 100px;
            text-align: center;                       
            border: 1px solid black;
            border-radius: 5px;


            &:hover {
                text-decoration: none;
                cursor: pointer;
                background-color: white;
                color: black;
                

            }
        }
    
}

#sec2 {    
    height: 100vh;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0 40px;

    .items {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
  
    
}


.cardStyle {
    background-color: #BDBDBD;
    padding: 80px;
    border: 1px solid black;

    .img-card{
        border: 1px solid black;
        margin: 5px;
    }
    .btn {
        background-color: #1BA9CF;
        border: 1px solid black;
        border-radius: 5px;
        
        &:hover{
            background-color: white;
            color: black;
            
        }
            
            
    }
}

footer {    
    height: 10vh;
    width: 100%;
    background-color: #F8F9FA;
    display: flex;
    justify-content: center;
    align-items: center;
    .fab{
        font-size: 50px;
        color: #1BA9CF;        
        &:hover{
            color: black;

        }
    }
}